<div class="da-content__menu" ng-hide="vm.hideMenu">
    <ul class="da-nav da-nav_menu">
        <li class="da-nav__item da-nav__item_menu" ng-repeat="day in vm.days track by $index">
            <button type="button" class="da-nav-link da-nav-link_day" ng-class="[{'da-nav-link_active': vm.state.currentDayIndex == $index}]" ng-click="vm.changeCurrentDay($index)">{{day | uppercase}}</button>
        </li>
    </ul>
    <div class="da-day-menu" scrollbar="{autoUpdate: true}">
        <div class="da-day-menu__category">
            <div class="da-menu-category" ng-repeat="type in types">
                <h3 class="da-menu-category__title">{{type}}</h3>
                <div class="da-menu-category__row" ng-repeat="dish in menu[vm.state.currentDayIndex].dishes | filter: {type: type}">
                    <div class="da-row da-row_menu">
                        <div class="da-row__cell da-row__cell_flex-grow da-row__cell_bg_line"><span class="da-menu-text da-menu-text_cell  da-menu-text_bg">{{dish.name}}</span></div>
                        <div class="da-row__cell da-row__cell_width"><span class="da-menu-text da-menu-text_cell">{{dish.weight}}</span><span class="da-menu-text da-menu-text_mute"> г</span></div>
                        <div class="da-row__cell da-row__cell_width"><span class="da-menu-text da-menu-text_cell">{{dish.price}}</span><span class="da-menu-text da-menu-text_mute"> грн.</span></div>
                    </div>
                </div>
            </div>
            <div class="da-menu-category">
                <h3 class="da-menu-category__title">Комплексные обеды</h3>
                <ol class="da-menu-category__row" ng-repeat="dinner in menu[vm.state.currentDayIndex].dinners" track by $index>
                    <li class="da-row">
                        <div class="da-row__cell"><span class="da-menu-text da-menu-text_index">{{$index + 1}}.</span></div>
                        <div class="da-row__cell da-row__cell_flex-grow">
                            <div class="da-row da-row_column">
                                <div class="da-row" ng-repeat="dish in dinner.dishes">
                                    <div class="da-row__cell da-row__cell_dish da-row__cell_flex-grow da-row__cell_bg_line"><span class="da-menu-text da-menu-text_cell  da-menu-text_bg">{{dish.dish}}</span></div>
                                    <div class="da-row__cell da-row__cell_width"><span class="da-menu-text da-menu-text_cell">{{dish.weight}}</span><span class="da-menu-text da-menu-text_mute"> г</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="da-row__cell da-row__cell_width"><span class="da-menu-text da-menu-text_cell">{{dinner.price}}</span><span class="da-menu-text da-menu-text_mute"> грн.</span></div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>