*,
*:after,
*:before
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 10px;
}

@font-face
{
    font-family: Lato; /* Имя шрифта */
    font-weight: 300;

    src: url('../fonts/Lato-Light.ttf'); /* Путь к файлу со шрифтом */
}

@font-face
{
    font-family: Lato; /* Имя шрифта */
    font-weight: 400;

    src: url('../fonts/Lato-Regular.ttf'); /* Путь к файлу со шрифтом */
}

@font-face
{
    font-family: Lato; /* Имя шрифта */
    font-weight: 500;

    src: url('../fonts/Lato-Medium.ttf'); /* Путь к файлу со шрифтом */
}

@font-face
{
    font-family: Lato; /* Имя шрифта */
    font-weight: 600;

    src: url('../fonts/Lato-Semibold.ttf'); /* Путь к файлу со шрифтом */
}

body
{
    font-family: Lato;

    max-height: 100vh;
}

ul
{
    list-style: none;
}

a
{
    cursor: pointer;
    text-decoration: none;
    text-transform: none;

    color: inherit;
}

button
{
    cursor: pointer;

    color: inherit;
    border: none;
    outline: none;
    background-color: transparent;
}

input[type='text']
{
    border: none;
    outline: none;
}

.da-page
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;

    height: 100vh;
    max-height: 100%;
}

.da-page__head
{
    display: -ms-flexbox;
    display: flex;

    padding: 0 3rem 0 12.5rem;

    box-shadow: 0 1px 2px #d5d7dc;
}

.da-page__nav
{
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.da-page__user
{
    cursor: pointer;

    -ms-flex-item-align: center;

    align-self: center;
}

.da-page__content
{
    padding: 3rem 12.5rem;

    background-color: #f1eee5;

    -ms-flex-positive: 1;

    flex-grow: 1;
}

.da-user-action
{
    display: -ms-flexbox;
    display: flex;
}

.da-user-action__img
{
    margin-right: 1rem;
}

.da-user-action__btn
{
    -ms-flex-item-align: center;
    align-self: center;
}

.da-nav
{
    display: -ms-flexbox;
    display: flex;
}



.da-nav__item_menu
{
    -ms-flex: 1 0 0;
    flex: 1 0 0;
}

.da-nav_menu
{
    border-bottom: .1rem solid #f1eee5;
    background-color: #fff;
}

.da-nav-link
{
    position: relative;

    color: #b5beb5;
}

.da-nav-link:after
{
    position: absolute;
    top: 3.3rem;
    left: 3rem;

    width: 2.4rem;
    height: 2rem;

    content: '';
    pointer-events: none;

    background-repeat: no-repeat;
    background-position: center;
}

.da-nav-link:before
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: .2rem;

    content: '';

    border-bottom: .2rem solid transparent;
}

.da-nav-link__link
{
    font-size: 1.6rem;

    display: block;

    width: 100%;
    padding: 3.3rem 2.8rem 2.7rem 6.2rem;

    text-transform: uppercase;
}

.da-nav-link_menu:hover:before
{
    animation-name: border;
    animation-duration: .5s;

    border-color: #ef643f;
}

.da-nav-link_menu:after
{
    background-image: url('../img/icon-doc.png');
}

.da-nav-link_active_menu
{
    color: #2f3138;
    background-color: rgba(241, 238, 229, .4);
}

.da-nav-link_active_menu:before
{
    border-color: #ef643f;
}

.da-nav-link_orders:hover:before
{
    animation-name: border;
    animation-duration: .5s;

    border-color: #3885ca;
}

.da-nav-link_orders:after
{
    background-image: url('../img/icon-basket.png');
}

.da-nav-link_active_orders
{
    color: #2f3138;
    background-color: rgba(241, 238, 229, .4);
}

.da-nav-link_active_orders:before
{
    border-color: #3885ca;
}

.da-nav-link_users:hover:before
{
    animation-name: border;
    animation-duration: .5s;

    border-color: #62b59b;
}

.da-nav-link_users:after
{
    background-image: url('../img/icon-profile.png');
}

.da-nav-link_active_users
{
    color: #2f3138;
    background-color: rgba(241, 238, 229, .4);
}

.da-nav-link_active_users:before
{
    border-color: #62b59b;
}

.da-nav-link_day
{
    font-size: 1.6rem;
    font-weight: 400;

    padding: 2rem .2rem 1rem;

    letter-spacing: 3px;
}

.da-nav-link_day:hover
{
    font-size: 1.8rem;

    animation-name: text;
    animation-duration: .5s;

    color: #2f3138;
}

.da-nav-link_day:hover:before
{
    bottom: -.1rem;

    animation-name: border;
    animation-duration: .5s;

    border-color: #ef643f;
}

.da-nav-link_active
{
    font-size: 1.8rem;

    color: #2f3138;
}

.da-nav-link_active:hover
{
    animation: none;
}

.da-nav-link_active:before
{
    bottom: -.1rem;

    border-color: #ef643f;
}

@keyframes border
{
    0%
    {
        width: 0;
    }
    100%
    {
        width: 100%;
    }
}

@keyframes text
{
    0%
    {
        font-size: 1.6rem;
    }
    100%
    {
        font-size: 1.8rem;
    }
}

.da-main
{
    height: 100%;

    background-color: #fff;
    box-shadow: 0 1px 2px #d5d7dc;
}

.da-main__content
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;

    height: 86vh;
    padding: 3rem 0 0;
}

.da-row
{
    display: -ms-flexbox;
    display: flex;
}



.da-row__cell_flex-grow
{
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.da-row__cell_bg_line
{
    background: linear-gradient(to bottom, rgba(248,78,48,0) 0%, rgba(255,255,255,0) 0%, rgba(241,238,229,0) 49%, rgba(241,238,228,1) 50%, rgba(241,234,224,0) 51%, rgba(231,55,39,0) 100%);
}

.da-row__cell_width
{
    width: 7rem;
    padding-right: 1rem;

    text-align: right;
}

.da-row__cell_dish
{
    padding-bottom: 1rem;
}

.da-row_menu
{
    padding: .5rem 0 1rem;
}

.da-row_column
{
    -ms-flex-direction: column;
    flex-direction: column;
}



.da-btn__text_mute
{
    font-size: 1.6rem;
    font-weight: 400;

    letter-spacing: 1px;

    color: #b5beb5;
}

.da-btn_nav
{
    position: relative;

    padding: .5rem;
}

.da-btn_nav:hover .da-btn__text_mute
{
    color: #2f3138;
}

.da-btn_nav:before
{
    position: absolute;
    top: .5rem;

    width: 1rem;
    height: 1.8rem;

    content: '';

    background-repeat: no-repeat;
    background-position: center;
}

.da-btn_nav_next
{
    padding-right: 3rem;
}

.da-btn_nav_next:before
{
    right: 0;

    background-image: url('../img/icon-next.png');
}

.da-btn_nav_prev
{
    padding-left: 3rem;
}

.da-btn_nav_prev:before
{
    left: 0;

    background-image: url('../img/icon-prev.png');
}

.da-btn_transparent
{
    font-size: 1.6rem;

    text-decoration: underline;

    color: #b5beb5;
}

.da-btn_main
{
    font-size: 1.6rem;

    padding: 1rem 2.5rem;

    border-radius: 2rem;
}

.da-btn_primary
{
    color: #fff;
    background-color: #ef643f;
}

.da-btn_secondary
{
    color: #fff;
    background-color: #5bb296;
}

.da-btn_tertiary
{
    color: #fff;
    background-color: #3885ca;
}

.da-btn_file-upload
{
    pointer-events: none;
}

.da-btn_dropdown
{
    padding: .5rem;

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.da-btn_dropdown_menu
{
    background-image: url('../img/icon-arrow-open-menu.png');
}

.da-btn_dropdown_users
{
    background-image: url('../img/icon-arrow-open-user.png');
}

.da-btn_dropdown_orders
{
    background-image: url('../img/icon-arrow-open-orders.png');
}

.da-btn_close
{
    padding: .8rem;

    border: .2rem solid #fff;
    border-radius: 50%;
    background: transparent url('../img/icon-close.png') no-repeat center;
}

.da-btn_mute
{
    color: #fff;
    background-color: #b5beb5;
}

.da-btn_pair-item
{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1rem;

    padding: 1rem 2.5rem;

    border-radius: 1.6rem;
}

.da-input-field
{
    position: relative;

    display: -ms-flexbox;

    display: flex;

    border: 1px solid #f1eee5;
}

.da-input-field__input
{
    width: 100%;
    padding: 1rem 1.5rem;
}

.da-input-field__input::-webkit-input-placeholder
{
    font-family: Lato;
    font-size: 1.6rem;

    color: #b5beb5;
}

.da-input-field__add
{
    font-family: Lato;
    font-size: 1.6rem;

    display: block;

    height: 100%;

    color: #b5beb5;

    -ms-flex-item-align: center;

    align-self: center;
}

.da-input-field__icon
{
    position: absolute;
    top: .7rem;
    right: 1.5rem;

    width: 2rem;
    height: 2rem;

    pointer-events: none;

    background: transparent url('../img/icon-search.png') no-repeat center;
}

.da-popup-overlay
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
}

.da-popup-overlay:before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    opacity: .85;
    background-color: #555;
}

.da-popup
{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    width: 40rem;

    transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 0 1px 2px #d5d7dc;
}

.da-popup-header
{
    display: -ms-flexbox;
    display: flex;

    padding: 1.5rem 1.5rem 1.5rem 2rem;

    -ms-flex-align: center;

    align-items: center;
}

.da-popup-header_menu
{
    background-color: #ef643f;
}

.da-popup-header_user
{
    background-color: #5bb296;
}

.da-popup-header_order
{
    background-color: #3885ca;
}

.da-popup-header__title
{
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.da-popup-title
{
    font-size: 1.5rem;

    letter-spacing: .2rem;
    text-transform: uppercase;

    color: #fff;
}



.da-popup-body__message
{
    padding: 3rem 3rem 5rem 3rem;
}

.da-popup-body__btns
{
    padding: 0 2rem 2.5rem;
}

.da-popup-message
{
    font-size: 1.6rem;
    font-weight: 400;

    color: #2f3138;
}

.da-pair-btns
{
    display: -ms-flexbox;
    display: flex;
}

.da-pair-btns__item
{
    margin-right: 1rem;
}

.da-content-head
{
    position: relative;

    display: -ms-flexbox;

    display: flex;

    padding: 0 3rem 3.5rem;

    border-bottom: 1px solid #f1eee5;

    -ms-flex-pack: center;

    justify-content: center;
}

.da-content-head__btns
{
    position: absolute;

    width: 100%;
    height: 100%;
    padding: 0 3rem;
}

.da-content-head__title
{
    text-align: center;
    letter-spacing: .1rem;
}

.da-content-head__search
{
    padding-right: 3rem;

    -ms-flex-positive: 1;

    flex-grow: 1;
    -ms-flex-item-align: center;
    align-self: center;
}

.da-content-header
{
    letter-spacing: .3rem;
}

.da-nav-btns
{
    display: -ms-flexbox;
    display: flex;
}



.da-nav-btns__btn_prev
{
    margin-right: auto;
}

.da-nav-btns__btn_next
{
    margin-left: auto;
}

.da-content-header
{
    font-size: 2.4rem;
    font-weight: 400;

    padding-bottom: .3rem;

    text-transform: uppercase;

    color: #2f3138;
}

.da-text
{
    font-size: 1.2rem;
}

.da-text_color_accent
{
    font-weight: 600;

    color: #ef643f;
}

.da-content
{
    position: relative;

    text-align: center;

    -ms-flex-positive: 1;

    flex-grow: 1;
}

.da-content_bg
{
    background-color: #f1eee5;
}

.da-content__add-menu
{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.da-content__add-menu_action
{
    top: -8rem;
    right: 3rem;

    transform: translate(0, 0);
}

.da-content__menu
{
    background-color: #fff;
}

.da-file-upload
{
    cursor: pointer;
}

.da-file-upload__label
{
    position: relative;

    display: block;
    overflow: hidden;

    cursor: pointer;
}

.da-file-upload__input
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;

    opacity: 0;
}

.da-file-upload__text
{
    font-size: 1.6rem;

    display: block;

    padding-bottom: 1.5rem;

    color: #69696b;
}

.da-day-menu
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 70vh;
}

.da-day-menu .scroll-viewport
{
    width: 100%;
    height: calc(70vh - 12px);
}

.da-day-menu .scroll-overview
{
    width: 100%;
}

.da-day-menu .scroll-bar
{
    top: .6rem;

    height: calc(70vh - 12px);
}

.da-day-menu__category
{
    padding: 0 3rem 5rem;

    text-align: left;
}



.da-menu-category__title
{
    font-size: 1.6rem;
    font-weight: 500;

    padding: 5.4rem 0 1.8rem 0;

    letter-spacing: .1rem;
    text-transform: uppercase;

    color: #2f3138;
}

.da-menu-text
{
    font-size: 1.6rem;
    font-weight: 300;

    color: #2f3138;
}

.da-menu-text_mute
{
    color: #b5beb5;
}

.da-menu-text_bg
{
    padding-right: 1rem;

    background-color: #fff;
}

.da-menu-text_cell
{
    max-width: 80%;
}

.da-menu-text_index
{
    padding-right: .5rem;
}

.da-action-btns
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-align: center;

    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.da-action-btns__item
{
    margin-left: 1.5rem;
}

.da-users
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 70vh;
}

.da-users .scroll-viewport
{
    width: 100%;
    height: calc(70vh - 12px);
}

.da-users .scroll-overview
{
    width: 100%;
}

.da-users .scroll-bar
{
    top: .6rem;

    height: calc(70vh - 12px);
}
