<div class="da-main__content">
    <div class="da-add-user">
        <div class="da-add-user__btn">
            <button type="button" class="da-btn da-btn_add" ng-click="vm.showPopup=!vm.showPopup">Add new user</button>
        </div>
    </div>
    <div class="da-users">
        <h2 class="da-users__title">Users list</h2>
        <div class="da-users__list">
            <ul class="da-users-list">
                <li class="da-users-list__item" ng-repeat="user in vm.users">
                    <span class="da-users-list__name">{{user.lName}} {{user.fName}}</span>
                    <span class="da-users-list__balance">{{user.email}}</span>
                    <span class="da-users-list__balance">{{user.balance}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="da-add-user-popup" ng-show="vm.showPopup">
    <form class="da-add-user" name="addUser">
        <div class="da-add-user__input">
            <div class="da-input">
                <label class="da-input__label">
                    User email
                </label>
                <input type="text" name="user-email" class="da-input__input" ng-model="vm.user.email">
            </div>
        </div>
        <div class="da-add-user__input">
            <div class="da-input">
                <label class="da-input__label">
                    User first name
                </label>
                <input type="text" name="user-fName" class="da-input__input" ng-model="vm.user.fName">
            </div>
        </div>
        <div class="da-add-user__input">
            <div class="da-input">
                <label class="da-input__label">
                    User last name
                </label>
                <input type="text" name="user-lName" class="da-input__input" ng-model="vm.user.lName">
            </div>
        </div>
        <div class="da-add-user__submit">
            <div class="da-input">
                <input type="submit" class="da-input__submit" value='Submit' ng-click="vm.createUser(); vm.showPopup=!vm.showPopup">
            </div>
        </div>
    </form>
</div>