<div class="da-content-head">
    <div class="da-content-head__btns">
        <div class="da-nav-btns">
            <div ng-hide="vm.hidePrev" class="da-nav-btns__btn da-nav-btns__btn_prev">
                <button type="button" class="da-btn da-btn_nav da-btn_nav_prev" ng-click="vm.changeIndex('deduct')">
                    <span class="da-btn__text_mute">previous week</span>
                </button>
            </div>
            <div ng-hide="vm.hideNext" class="da-nav-btns__btn da-nav-btns__btn_next">
                <button type="button" class="da-btn da-btn_nav da-btn_nav_next" ng-click="vm.changeIndex('add')">
                    <span class="da-btn__text_mute">next week</span>
                </button>
            </div>
        </div>
    </div>
    <div class="da-content-head__title">
        <h2 class="da-content-header">{{ vm.state.currentWeek.title }}</h2>
        <p class="da-text da-text_color_accent">({{ vm.state.currentWeek.period[0] }} - {{ vm.state.currentWeek.period[4] }})</p>
    </div>
</div>