*,
*:after,
*:before
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

@font-face
{
    font-family: Lato; /* Имя шрифта */

    src: url('../fonts/Lato-Light.ttf'); /* Путь к файлу со шрифтом */
    font-weight: 300;
}

@font-face
{
    font-family: Lato; /* Имя шрифта */

    src: url('../fonts/Lato-Regular.ttf'); /* Путь к файлу со шрифтом */

    font-weight: 400;
}

@font-face
{
    font-family: Lato; /* Имя шрифта */

    src: url('../fonts/Lato-Medium.ttf'); /* Путь к файлу со шрифтом */

    font-weight: 500;
}

@font-face
{
    font-family: Lato; /* Имя шрифта */

    src: url('../fonts/Lato-Semibold.ttf'); /* Путь к файлу со шрифтом */
    font-weight: 600;
}


body {
    font-family: Lato;
    max-height: 100vh;
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
    text-transform: none;
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: inherit;
}

input[type="text"] {
    outline: none;
    border: none;
}

@component page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100%;

    @descendent head {
        padding: 0 3rem 0 12.5rem;
        box-shadow: 0 1px 2px #d5d7dc;
        display: flex;
    }

    @descendent nav {
        flex-grow: 1;
    }

    @descendent user {
        cursor: pointer;
        align-self: center;
    }

    @descendent content {
        flex-grow: 1;
        padding: 3rem 12.5rem;
        background-color: #f1eee5;
    }
}

@component user-action {
    display: flex;

    @descendent img {
        margin-right: 1rem;
    }

    @descendent btn {
        align-self: center;
    }
}

@component nav {
    display: flex;

    @descendent item {
        @modifier menu {
            flex: 1 0 0;
        }
    }

    @modifier menu {
        background-color: #fff;
        border-bottom: .1rem solid #f1eee5;

    }
}

@component nav-link {
    position: relative;
    color: #b5beb5;

    &:after {
        content: '';
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 3.3rem;
        left: 3rem;
        height: 2rem;
        width: 2.4rem;
        pointer-events: none;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: .2rem;
        width: 100%;
        border-bottom: .2rem solid transparent;
    }

    @descendent link {
        display: block;
        width: 100%;
        padding: 3.3rem 2.8rem 2.7rem 6.2rem;
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    @modifier menu {
        &:hover:before {
            border-color: #ef643f;
            animation-name:border;
            animation-duration: .5s;
        }
        &:after {
            background-image: url('../img/icon-doc.png');
        }
    }

    @modifier active_menu {
        color: #2f3138;
        background-color: rgba(241, 238, 229, .4);

        &:before {
            border-color: #ef643f;
        }
    }

    @modifier orders {
        &:hover:before {
            border-color: #3885ca;
            animation-name:border;
            animation-duration: .5s;
        }
        &:after {
            background-image: url('../img/icon-basket.png');
        }
    }

    @modifier active_orders {
        color: #2f3138;
        background-color: rgba(241, 238, 229, .4);

        &:before {
            border-color: #3885ca;
        }
    }

    @modifier users {
        &:hover:before {
            border-color: #62b59b;
            animation-name:border;
            animation-duration: .5s;
        }
        &:after {
            background-image: url('../img/icon-profile.png');
        }
    }

    @modifier active_users {
        color: #2f3138;
        background-color: rgba(241, 238, 229, .4);

        &:before {
            border-color: #62b59b;
        }
    }

    @modifier day {
        padding: 2rem .2rem 1rem;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 3px;

        &:hover {
            color: #2f3138;
            font-size: 1.8rem;
             animation-name:text;
             animation-duration: .5s;

            &:before {
                 border-color: #ef643f;
                 bottom: -.1rem;
                 animation-name:border;
                 animation-duration: .5s;
             }
        }
    }

    @modifier active {
        color: #2f3138;
        font-size: 1.8rem;

        &:hover {
             animation: none;
         }

        &:before {
            border-color: #ef643f;
            bottom: -.1rem;
        }
    }
}

@keyframes border {
    0%{width: 0%}
    100%{width: 100%}
}

@keyframes text {
    0%{font-size: 1.6rem;}
    100%{font-size: 1.8rem;}
}

@component main {
    background-color: #fff;
    box-shadow: 0 1px 2px #d5d7dc;
    height: 100%;

    @descendent content {
        padding: 3rem 0 0;
        height: 86vh;
        display: flex;
        flex-direction: column;
    }
}

@component row {
    display: flex;

    @descendent cell {

        @modifier flex-grow {
            flex-grow: 1;
        }

        @modifier bg_line {
            background: linear-gradient(to bottom, rgba(248,78,48,0) 0%, rgba(255,255,255,0) 0%, rgba(241,238,229,0) 49%, rgba(241,238,228,1) 50%, rgba(241,234,224,0) 51%, rgba(231,55,39,0) 100%);
        }

        @modifier width {
            width: 7rem;
            text-align: right;
            padding-right: 1rem;
        }

        @modifier dish {
            padding-bottom: 1rem;
        }
    }

    @modifier menu {
        padding: .5rem 0 1rem;
    }

    @modifier column {
        flex-direction: column;
    }
}

