@component users {
    height: 70vh;
    overflow: hidden;
    width: 100%;
    position: relative;

    & .scroll-viewport {
        width: 100%;
        height: calc(70vh - 12px);
    }

    & .scroll-overview {
        width: 100%;
    }

    & .scroll-bar {
        height: calc(70vh - 12px);
        top: .6rem;
    }
}